@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap");
.Logo {
  width: 100vw;
  height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#262626), to(rgba(38, 38, 38, 0.5))), url("../images/logo.jpg");
  background: linear-gradient(to bottom, #262626, rgba(38, 38, 38, 0.5)), url("../images/logo.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.LogoImage {
  background: #1a1a1a;
  width: 50vw;
  height: 20%;
  opacity: 0.7;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width 0.4s ease-in-out, height 0.6s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.6s ease-in-out;
}

.LogoText {
  color: #0099ff;
  font-size: 7rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  letter-spacing: 0.4rem;
}

.about {
  position: absolute;
  top: 20%;
  left: 27%;
  background-color: white;
  width: 65%;
  height: 70%;
  border: none;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Chart {
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../images/chart.png");
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #0099ff;
  border-top: 3px solid #0099ff;
}

.MainChart {
  width: 90vw;
  height: 90%;
  background: #1a1a1a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.MainChart .description {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: solid 2px #0099ff;
  overflow-y: auto;
}

.MainChart .description .span_top_description {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.MainChart .description .listItem {
  background: #0099ff;
  width: 90%;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  color: #1a1a1a;
  font-size: 1.2rem;
  line-height: 1.5;
  border: none;
  border-radius: 5px;
}

.MainChart .description .listItem .span_list_item {
  font-weight: 700;
}

.MainChart .description .listItem .span_list_name {
  display: block;
}

.MainChart .description .listItem .delete_icon {
  margin-top: 10px;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}

.MainChart .description .listItem .delete_icon:hover {
  color: red;
  cursor: pointer;
}

.MainChart .description .listItem .delete_icon:focus {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.MainChart .chart {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid 2px #0099ff;
  padding: 10px;
}

.MainChart .choose {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
}

.MainChart .choose .form_chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.MainChart .choose .form_chart .symbol {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: none;
  font-size: 1.7rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.MainChart .choose .form_chart .btn {
  margin-top: 30px;
  height: 60px;
  width: 80%;
  background: #0099ff;
  border: 2px solid;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 700;
  color: #1a1a1a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.MainChart .choose .form_chart .btn:hover {
  background: #0084db;
  cursor: pointer;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: #1a1a1a;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar .btn {
  background: none;
  font-size: 2rem;
  border: none;
  color: #0099ff;
  font-weight: 700;
  width: 170px;
  height: 80%;
  border-radius: 10px;
}

.Navbar .btn:hover {
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.Footer {
  width: 100vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1a1a1a;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=App.css.map */