@import './variables.scss';

.Chart {
	width: 100vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid $secondary-color;
	border-top: 3px solid $secondary-color;
	box-sizing: border-box;

	@media (max-width: $phone) {
		height: 170vh;
	}
}
.MainChart {
	width: 90vw;
	height: 90%;
	background: $primary-color;
	box-sizing: border-box;
	display: flex;

	@media (max-width: $phone) {
		flex-direction: column;
	}

	.description {
		width: 20%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 20px;
		box-sizing: border-box;
		border-right: solid 2px $secondary-color;
		overflow-y: auto;

		@media (max-width: $phone) {
			flex-direction: row;
			align-items: center;
			width: 100%;
			height: 50vh;
			overflow-y: hidden;
			overflow-x: auto;
			border-right: none;
		}

		.span_top_description {
			color: white;
			font-weight: 700;
			font-size: 2rem;
			text-align: center;
		}

		.listItem {
			background: $secondary-color;
			width: 90%;
			min-height: 150px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			box-sizing: border-box;
			margin-top: 20px;
			color: $primary-color;
			font-size: 1.2rem;
			line-height: 1.5;
			border: none;
			border-radius: 5px;

			@media (max-width: $phone) {
				height: 20vh;
				min-width: 170px;
				position: relative;
			}

			.span_list_item {
				font-weight: 700;
			}
			.span_list_name {
				display: block;

				@media (max-width: $phone) {
					position: absolute;
					top: 20%;
					left: 5%;
					width: 60%;
				}
			}

			.delete_icon {
				margin-top: 10px;
				transition: transform ease-in-out 0.2s;
				&:hover {
					color: red;
					cursor: pointer;
				}
				&:focus {
					transform: scale(0.85);
				}

				@media (max-width: $phone) {
					position: absolute;
					right: 5%;
					top: 40%;
					width: 20px;
				}
			}
		}
	}
	.chart {
		box-sizing: border-box;
		width: 60%;
		height: 100%;
		margin: 0 !important;
		display: flex;
		align-items: center;
		border-right: solid 2px $secondary-color;
		padding: 10px;

		@media (max-width: $phone) {
			border-right: none;
			width: 100%;
			padding: 0;
		}
	}
	.choose {
		width: 20%;
		height: 100%;
		display: flex;
		align-items: center;
		padding-top: 70px;
		flex-direction: column;

		@media (max-width: $phone) {
			width: 100%;
		}

		.form_chart {
			display: flex;
			flex-direction: column;
			padding: 10px;
			align-items: center;
			box-sizing: border-box;

			.symbol {
				width: 100%;
				height: 70px;
				border-radius: 10px;
				border: none;
				font-size: 1.7rem;
				box-sizing: border-box;
				outline: none;
			}

			.btn {
				margin-top: 30px;
				height: 60px;
				width: 80%;
				background: $secondary-color;
				border: 2px solid;
				border-radius: 10px;
				font-size: 2rem;
				font-weight: 700;
				color: $primary-color;
				box-sizing: border-box;
				transition: background-color 0.2s ease-in-out;

				&:hover {
					background: darken($secondary-color, 7%);
					cursor: pointer;
				}
			}
		}
	}
}
