@import './variables.scss';

.Chart {
	width: 100vw;
	height: 100vh;
	display: flex;
	background: url('../images/chart.png');
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid $secondary-color;
	border-top: 3px solid $secondary-color;
}
.MainChart {
	width: 90vw;
	height: 90%;
	background: $primary-color;
	box-sizing: border-box;
}
