@import "./variables.scss";

.Comparison {
   width: 100vw;
   height: 100vh;
   display: flex;
   background: url("../images/chart.png");
   justify-content: center;
   align-items: center;
   border-bottom: 3px solid $secondary-color;
}
.MainComparison {
   width: 80vw;
   height: 90%;
   background: $primary-color;
   box-sizing: border-box;
   border-radius: 10px;
   display: grid;
}
